body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

nav {
    margin: 0 0 0 0;
    position: fixed;
    z-index: 10;
    background-color: rgb(34, 34, 34);
    min-height: 64px;
}

.nav-wrapper {
    min-height: 64px;
}

#sidenav li {
    z-index: 1000;
}

#menu-button {
    margin-top: 8px;
    margin-left: 8px;
}

#nav-mobile li {
    transition: 0.3s;
}

#nav-mobile li:hover {
    background-color: rgb(70, 70, 70);
}

.logo {
    height: 64px;
    width: auto;
}

.logo-text {
    position: relative;
    top: -20px;
    margin-right: 10px;
}

.bg-image-home {
    background-image: url("img/parrot.jpg");
}

.bg-image-merits {
    background-image: url("img/parrot2.jpg");
}

.bg-image-service {
    background-image: url("img/parrot3.jpg");
}

.bg-image-team {
    background-image: url("img/parrot4.jpg");
}

.bg-image-testimonials {
    background-image: url("img/parrot5.jpg");
}

.bg-image-contact {
    background-image: url("img/parrot6.jpg");
}

.bg-image {
    filter: blur(16px);
    -webkit-filter: blur(16px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text-home {
    top: 50%;
}

.bg-text-service {
    top: 150%;
}

.bg-text-merits{
    top: 250%;
}

.bg-text-team {
    top: 350%;
}

.cards .row .col .card {
    background-color: rgb(34, 34, 34); /* fallback for older browsers */
    background-color: rgba(34, 34, 34, 0.7);
}

.bg-text-testimonials {
    top: 450%;
}

.bg-text-contact {
    top: 550%;
}

.bg-text {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    min-width: 500px;
    background-color: rgb(0, 0, 0); /* fallback for older browsers */
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    padding: 20px;
    z-index: 1;
    text-align: center;
}

.bg-text h1 {
    font-family: 'Raleway', sans-serif;
}

.bg-text p {
    font-family: 'Raleway', sans-serif;
    font-size: large;
}

@media all and (max-width: 992px) {
    .cheap-card {
        transform: translate(50%, 0);
    }
}
